<footer class="bg-dark text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h5 style="margin-bottom: 20px">Contact Information</h5>
        <p>Email: ohm2003.patel@gmail.com</p>
        <p>Phone: +1 905-783-7517</p>
      </div>
      <div class="col-md-6">
        <h5 style="margin-bottom: 15px">Follow Me</h5>
        <a href="https://twitter.com/ohmpatell" class="text-light mx-2"
          ><i class="fab fa-twitter" style="font-size: 4vh"></i
        ></a>
        <a href="https://www.linkedin.com/in/ohmpatel1/" class="text-light mx-2"
          ><i class="fab fa-linkedin" style="font-size: 4vh"></i
        ></a>
        <a href="https://github.com/ohmpatell" class="text-light mx-2"
          ><i class="fab fa-github" style="font-size: 4vh"></i
        ></a>
      </div>
    </div>
    <hr class="bg-light" />
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2023 Ohm Patel. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
