<%- include('partials/header') %>


<section class="container my-5" style="margin: 3rem 10vw 3rem 10vw">
  <div class="row">

    <div class="col-md-8" >
      <h1>About Me</h1>
      <p style="margin-bottom: 15px;">I am a dedicated software developer and web enthusiast with a deep passion for technology. My journey in the world of 
        coding and development has been driven by a relentless curiosity and a love for learning new things. Whether it's crafting 
        elegant software solutions or creating dynamic and user-friendly websites, I thrive on the challenge of turning ideas into reality.
         In this ever-evolving digital landscape, I believe that the pursuit of knowledge and innovation is not just a career choice, but a
          way of life. </p>
      <a class="btn btn-primary" href="/projects">View My Work</a>
    </div>
  </div>
</section>

<section class="container my-5" style="margin: 3rem 10vw 3rem 10vw">
  <div class="row">
      <div class="col-md-12">
          <h2>Education</h2>
          <p>Currently I am studying <b>Software Engineering Technology Advanced Diploma</b> at <b>Centenial College, Toronto</b>. I am expected to graduate in <b>December, 2025</b>.</b></p>
      </div>
  </div>
</section>
  

<section class="container my-5" style="margin: 3rem 10vw 3rem 10vw">
  <div class="row">
      <div class="col-md-12">
          <h2>Qualifications</h2>
          <ul>
              <li>Strong proficiency in programming languages, including JavaScript, C#, Java, and database systems such as MongoDB and Oracle SQL.</li>
              <li>Knowledgeable in Linux OS and software developing methodologies.</li>
              <li>Skilled in full-stack development with experience in HTML/CSS and React.</li>
              <li>Knowledgeable in software development tools like Git.</li>
              <li>Enthusiastic about continuous learning, innovation, and problem-solving.</li>
          </ul>
      </div>
  </div>
</section>

<section class="container my-5" style="margin: 3rem 10vw 3rem 10vw">
  <div class="row">
      <div class="col-md-12"  >
          <h2>Employment</h2>
          <p>
              Currently, I work for <b>Octacom Ltd.</b> as a <b>Document Scanner/Digitizer</b>. I have been working there since <b>August, 2023</b>.<br>
            I am also responsible for Digitizing documents for client companies and making sure of the quality of the documents.
          </p>
      </div>
  </div>
</section>

<section class="container my-5" >
  <div class="row">
      <div class="col-md-12" style="margin: 1.5rem 5vw 1.5rem 5vw">
          <h2>Hobbies</h2>
          <p>
            In my free time, I'm passionate about photography. I enjoy capturing moments and expressing my creativity through the lens. <br>
            Here are some of my favorite photography projects:
          </p>
      </div>
  </div>
  <div class="row">
    <div class="col-md-4">
        <div class="card">
            <img src="/images/station.jpg" class="card-img-top" alt="Photo 1">
            <div class="card-body">
                <p class="card-text">Grey Joy</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="/images/lamp.jpg" class="card-img-top" alt="Photo 2">
            <div class="card-body">
                <p class="card-text">Autumn Evening</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <img src="/images/beezness.jpg" class="card-img-top" alt="Photo 3">
            <div class="card-body">
                <p class="card-text">Mind Your Own Beezness</p>
            </div>
        </div>
    </div>
</div>
</section>

<%- include('partials/footer') %>
