<%- include('partials/header') %>

<section class="container my-5">
  <h1>My Services</h1>
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="/images/web.jpg" class="card-img-top" alt="Web Development" style="height: 40vh;"/>
        <div class="card-body">
          <h5 class="card-title">Web Development</h5>
          <p class="card-text">
            I offer web development services to create modern and responsive
            websites. With expertise in HTML, CSS, JavaScript, and various web
            development frameworks, I can bring your web project to life.
            Whether it's a personal blog, portfolio, or e-commerce site, I can
            build a website tailored to your needs.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="/images/software.jpg"
          class="card-img-top"
          alt="Software Development"
          style="height: 40vh;"
        />
        <div class="card-body">
          <h5 class="card-title">Software Development</h5>
          <p class="card-text">
            I specialize in software development using object-oriented
            programming languages like C# and Java. Whether you need a desktop
            application, a mobile app, or custom software solutions, I can
            design, develop, and maintain software that meets your requirements
            and scales with your business.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card">
        <img
          src="/images/photography.jpg"
          class="card-img-top"
          alt="Photography"
          style="height: 40vh;"
        />
        <div class="card-body">
          <h5 class="card-title">Photography</h5>
          <p class="card-text">
            As a passionate photographer, I capture moments and expressions
            through my lens. Whether it's portraits, landscapes, events, or
            product photography, I bring creativity and attention to detail to
            every project. Let me help you preserve memories or enhance your
            visual content with stunning photographs.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
